body {
    font-family: Arial, sans-serif;
    text-align: center;
}

table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: center;
    border: 3px solid black;
}
tr:first-child th, tr:first-child td {
    border-top: 5px solid blue;
}

tr:last-child td {
    border-bottom: 5px solid red; 
}

td:first-child, th:first-child {
    border-left: 5px dashed green;
}

td:last-child, th:last-child {
    border-right: 5px double green;
}

th {
    background-color: lightgray;
}